In [1]:
import os
os.environ["DJANGO_SETTINGS_MODULE"] = "myhomework13.settings"
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

import django
django.setup()

In [2]:
from mall.models import Shop

In [3]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

# Create

In [4]:
shop = Shop()
shop.name = "투썸플레이스"
shop.telephone = "042-1234-1234"

In [5]:
shop.save()

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('투썸플레이스', '', '042-1234-1234', '', '2021-12-01 14:47:30.073213', '2021-12-01 14:47:30.073213'); args=['투썸플레이스', '', '042-1234-1234', '', '2021-12-01 14:47:30.073213', '2021-12-01 14:47:30.073213']

In [6]:
shop = Shop.objects.create(
    name="셀프24시빨래방",
    telephone="042-1234-4321",
)
shop

(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('셀프24시빨래방', '', '042-1234-4321', '', '2021-12-01 14:47:33.988043', '2021-12-01 14:47:33.988043'); args=['셀프24시빨래방', '', '042-1234-4321', '', '2021-12-01 14:47:33.988043', '2021-12-01 14:47:33.988043']

# Select

In [7]:
qs=Shop.objects.all()

In [8]:
for shop in qs:
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

4 셀프24시빨래방 042-1234-4321
3 투썸플레이스 042-1234-1234
2 셀프24시빨래방 042-1234-4321
1 투썸플레이스 042-1234-1234

In [ ]:
qs.order_by("-id") # 정렬은 가급적 단일 컬럼 사용

# 데이터 뻥튀기

In [10]:
for i in range(1, 101):
    name = f"가게명#{i}"
    telephone = f"042-1234-9{i:03}"
    Shop.objects.create(
        name=name,
        telephone=telephone,
    )

(0.031) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#1', '', '042-1234-9001', '', '2021-12-01 14:49:58.065646', '2021-12-01 14:49:58.065646'); args=['가게명#1', '', '042-1234-9001', '', '2021-12-01 14:49:58.065646', '2021-12-01 14:49:58.065646']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#2', '', '042-1234-9002', '', '2021-12-01 14:49:58.086103', '2021-12-01 14:49:58.086103'); args=['가게명#2', '', '042-1234-9002', '', '2021-12-01 14:49:58.086103', '2021-12-01 14:49:58.086103']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#3', '', '042-1234-9003', '', '2021-12-01 14:49:58.095970', '2021-12-01 14:49:58.095970'); args=['가게명#3', '', '042-1234-9003', '', '2021-12-01 14:49:58.095970', '2021-12-01 14:49:58.095970']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#4', '', '042-1234-9004', '', '2021-12-01 14:49:58.105958', '2021-12-01 14:49:58.105958'); args=['가게명#4', '', '042-1234-9004', '', '2021-12-01 14:49:58.105958', '2021-12-01 14:49:58.105958']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#5', '', '042-1234-9005', '', '2021-12-01 14:49:58.116103', '2021-12-01 14:49:58.116103'); args=['가게명#5', '', '042-1234-9005', '', '2021-12-01 14:49:58.116103', '2021-12-01 14:49:58.116103']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#6', '', '042-1234-9006', '', '2021-12-01 14:49:58.127159', '2021-12-01 14:49:58.127159'); args=['가게명#6', '', '042-1234-9006', '', '2021-12-01 14:49:58.127159', '2021-12-01 14:49:58.127159']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#7', '', '042-1234-9007', '', '2021-12-01 14:49:58.135705', '2021-12-01 14:49:58.135705'); args=['가게명#7', '', '042-1234-9007', '', '2021-12-01 14:49:58.135705', '2021-12-01 14:49:58.135705']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#8', '', '042-1234-9008', '', '2021-12-01 14:49:58.147981', '2021-12-01 14:49:58.147981'); args=['가게명#8', '', '042-1234-9008', '', '2021-12-01 14:49:58.147981', '2021-12-01 14:49:58.147981']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#9', '', '042-1234-9009', '', '2021-12-01 14:49:58.156004', '2021-12-01 14:49:58.156004'); args=['가게명#9', '', '042-1234-9009', '', '2021-12-01 14:49:58.156004', '2021-12-01 14:49:58.156004']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#10', '', '042-1234-9010', '', '2021-12-01 14:49:58.165884', '2021-12-01 14:49:58.165884'); args=['가게명#10', '', '042-1234-9010', '', '2021-12-01 14:49:58.165884', '2021-12-01 14:49:58.165884']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#11', '', '042-1234-9011', '', '2021-12-01 14:49:58.175906', '2021-12-01 14:49:58.175906'); args=['가게명#11', '', '042-1234-9011', '', '2021-12-01 14:49:58.175906', '2021-12-01 14:49:58.175906']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#12', '', '042-1234-9012', '', '2021-12-01 14:49:58.185714', '2021-12-01 14:49:58.185714'); args=['가게명#12', '', '042-1234-9012', '', '2021-12-01 14:49:58.185714', '2021-12-01 14:49:58.185714']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#13', '', '042-1234-9013', '', '2021-12-01 14:49:58.195990', '2021-12-01 14:49:58.195990'); args=['가게명#13', '', '042-1234-9013', '', '2021-12-01 14:49:58.195990', '2021-12-01 14:49:58.195990']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#14', '', '042-1234-9014', '', '2021-12-01 14:49:58.210893', '2021-12-01 14:49:58.210893'); args=['가게명#14', '', '042-1234-9014', '', '2021-12-01 14:49:58.210893', '2021-12-01 14:49:58.210893']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#15', '', '042-1234-9015', '', '2021-12-01 14:49:58.215949', '2021-12-01 14:49:58.215949'); args=['가게명#15', '', '042-1234-9015', '', '2021-12-01 14:49:58.215949', '2021-12-01 14:49:58.215949']
(0.032) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#16', '', '042-1234-9016', '', '2021-12-01 14:49:58.225806', '2021-12-01 14:49:58.225806'); args=['가게명#16', '', '042-1234-9016', '', '2021-12-01 14:49:58.225806', '2021-12-01 14:49:58.225806']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#17', '', '042-1234-9017', '', '2021-12-01 14:49:58.246082', '2021-12-01 14:49:58.246082'); args=['가게명#17', '', '042-1234-9017', '', '2021-12-01 14:49:58.246082', '2021-12-01 14:49:58.246082']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#18', '', '042-1234-9018', '', '2021-12-01 14:49:58.256076', '2021-12-01 14:49:58.256076'); args=['가게명#18', '', '042-1234-9018', '', '2021-12-01 14:49:58.256076', '2021-12-01 14:49:58.256076']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#19', '', '042-1234-9019', '', '2021-12-01 14:49:58.266046', '2021-12-01 14:49:58.266046'); args=['가게명#19', '', '042-1234-9019', '', '2021-12-01 14:49:58.266046', '2021-12-01 14:49:58.266046']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#20', '', '042-1234-9020', '', '2021-12-01 14:49:58.275906', '2021-12-01 14:49:58.275906'); args=['가게명#20', '', '042-1234-9020', '', '2021-12-01 14:49:58.275906', '2021-12-01 14:49:58.275906']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#21', '', '042-1234-9021', '', '2021-12-01 14:49:58.275906', '2021-12-01 14:49:58.275906'); args=['가게명#21', '', '042-1234-9021', '', '2021-12-01 14:49:58.275906', '2021-12-01 14:49:58.275906']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#22', '', '042-1234-9022', '', '2021-12-01 14:49:58.285911', '2021-12-01 14:49:58.285911'); args=['가게명#22', '', '042-1234-9022', '', '2021-12-01 14:49:58.285911', '2021-12-01 14:49:58.285911']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#23', '', '042-1234-9023', '', '2021-12-01 14:49:58.295978', '2021-12-01 14:49:58.295978'); args=['가게명#23', '', '042-1234-9023', '', '2021-12-01 14:49:58.295978', '2021-12-01 14:49:58.295978']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#24', '', '042-1234-9024', '', '2021-12-01 14:49:58.295978', '2021-12-01 14:49:58.295978'); args=['가게명#24', '', '042-1234-9024', '', '2021-12-01 14:49:58.295978', '2021-12-01 14:49:58.295978']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#25', '', '042-1234-9025', '', '2021-12-01 14:49:58.305680', '2021-12-01 14:49:58.305680'); args=['가게명#25', '', '042-1234-9025', '', '2021-12-01 14:49:58.305680', '2021-12-01 14:49:58.305680']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#26', '', '042-1234-9026', '', '2021-12-01 14:49:58.315775', '2021-12-01 14:49:58.315775'); args=['가게명#26', '', '042-1234-9026', '', '2021-12-01 14:49:58.315775', '2021-12-01 14:49:58.315775']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#27', '', '042-1234-9027', '', '2021-12-01 14:49:58.325996', '2021-12-01 14:49:58.325996'); args=['가게명#27', '', '042-1234-9027', '', '2021-12-01 14:49:58.325996', '2021-12-01 14:49:58.325996']

(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#28', '', '042-1234-9028', '', '2021-12-01 14:49:58.335974', '2021-12-01 14:49:58.335974'); args=['가게명#28', '', '042-1234-9028', '', '2021-12-01 14:49:58.335974', '2021-12-01 14:49:58.335974']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#29', '', '042-1234-9029', '', '2021-12-01 14:49:58.346251', '2021-12-01 14:49:58.346251'); args=['가게명#29', '', '042-1234-9029', '', '2021-12-01 14:49:58.346251', '2021-12-01 14:49:58.346251']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#30', '', '042-1234-9030', '', '2021-12-01 14:49:58.346251', '2021-12-01 14:49:58.346251'); args=['가게명#30', '', '042-1234-9030', '', '2021-12-01 14:49:58.346251', '2021-12-01 14:49:58.346251']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#31', '', '042-1234-9031', '', '2021-12-01 14:49:58.355839', '2021-12-01 14:49:58.355839'); args=['가게명#31', '', '042-1234-9031', '', '2021-12-01 14:49:58.355839', '2021-12-01 14:49:58.355839']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#32', '', '042-1234-9032', '', '2021-12-01 14:49:58.365709', '2021-12-01 14:49:58.365709'); args=['가게명#32', '', '042-1234-9032', '', '2021-12-01 14:49:58.365709', '2021-12-01 14:49:58.365709']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#33', '', '042-1234-9033', '', '2021-12-01 14:49:58.365709', '2021-12-01 14:49:58.365709'); args=['가게명#33', '', '042-1234-9033', '', '2021-12-01 14:49:58.365709', '2021-12-01 14:49:58.365709']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#34', '', '042-1234-9034', '', '2021-12-01 14:49:58.376092', '2021-12-01 14:49:58.376092'); args=['가게명#34', '', '042-1234-9034', '', '2021-12-01 14:49:58.376092', '2021-12-01 14:49:58.376092']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#35', '', '042-1234-9035', '', '2021-12-01 14:49:58.386566', '2021-12-01 14:49:58.386566'); args=['가게명#35', '', '042-1234-9035', '', '2021-12-01 14:49:58.386566', '2021-12-01 14:49:58.386566']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#36', '', '042-1234-9036', '', '2021-12-01 14:49:58.395800', '2021-12-01 14:49:58.395800'); args=['가게명#36', '', '042-1234-9036', '', '2021-12-01 14:49:58.395800', '2021-12-01 14:49:58.395800']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#37', '', '042-1234-9037', '', '2021-12-01 14:49:58.395800', '2021-12-01 14:49:58.395800'); args=['가게명#37', '', '042-1234-9037', '', '2021-12-01 14:49:58.395800', '2021-12-01 14:49:58.395800']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#38', '', '042-1234-9038', '', '2021-12-01 14:49:58.405599', '2021-12-01 14:49:58.405599'); args=['가게명#38', '', '042-1234-9038', '', '2021-12-01 14:49:58.405599', '2021-12-01 14:49:58.405599']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#39', '', '042-1234-9039', '', '2021-12-01 14:49:58.415995', '2021-12-01 14:49:58.415995'); args=['가게명#39', '', '042-1234-9039', '', '2021-12-01 14:49:58.415995', '2021-12-01 14:49:58.415995']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#40', '', '042-1234-9040', '', '2021-12-01 14:49:58.425685', '2021-12-01 14:49:58.425685'); args=['가게명#40', '', '042-1234-9040', '', '2021-12-01 14:49:58.425685', '2021-12-01 14:49:58.425685']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#41', '', '042-1234-9041', '', '2021-12-01 14:49:58.425685', '2021-12-01 14:49:58.425685'); args=['가게명#41', '', '042-1234-9041', '', '2021-12-01 14:49:58.425685', '2021-12-01 14:49:58.425685']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#42', '', '042-1234-9042', '', '2021-12-01 14:49:58.436028', '2021-12-01 14:49:58.436028'); args=['가게명#42', '', '042-1234-9042', '', '2021-12-01 14:49:58.436028', '2021-12-01 14:49:58.436028']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#43', '', '042-1234-9043', '', '2021-12-01 14:49:58.445949', '2021-12-01 14:49:58.445949'); args=['가게명#43', '', '042-1234-9043', '', '2021-12-01 14:49:58.445949', '2021-12-01 14:49:58.445949']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#44', '', '042-1234-9044', '', '2021-12-01 14:49:58.455982', '2021-12-01 14:49:58.455982'); args=['가게명#44', '', '042-1234-9044', '', '2021-12-01 14:49:58.455982', '2021-12-01 14:49:58.455982']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#45', '', '042-1234-9045', '', '2021-12-01 14:49:58.465934', '2021-12-01 14:49:58.465934'); args=['가게명#45', '', '042-1234-9045', '', '2021-12-01 14:49:58.465934', '2021-12-01 14:49:58.465934']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#46', '', '042-1234-9046', '', '2021-12-01 14:49:58.475823', '2021-12-01 14:49:58.475823'); args=['가게명#46', '', '042-1234-9046', '', '2021-12-01 14:49:58.475823', '2021-12-01 14:49:58.475823']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#47', '', '042-1234-9047', '', '2021-12-01 14:49:58.475823', '2021-12-01 14:49:58.475823'); args=['가게명#47', '', '042-1234-9047', '', '2021-12-01 14:49:58.475823', '2021-12-01 14:49:58.475823']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#48', '', '042-1234-9048', '', '2021-12-01 14:49:58.486050', '2021-12-01 14:49:58.486050'); args=['가게명#48', '', '042-1234-9048', '', '2021-12-01 14:49:58.486050', '2021-12-01 14:49:58.486050']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#49', '', '042-1234-9049', '', '2021-12-01 14:49:58.496006', '2021-12-01 14:49:58.496006'); args=['가게명#49', '', '042-1234-9049', '', '2021-12-01 14:49:58.496006', '2021-12-01 14:49:58.496006']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#50', '', '042-1234-9050', '', '2021-12-01 14:49:58.505906', '2021-12-01 14:49:58.505906'); args=['가게명#50', '', '042-1234-9050', '', '2021-12-01 14:49:58.505906', '2021-12-01 14:49:58.505906']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#51', '', '042-1234-9051', '', '2021-12-01 14:49:58.526014', '2021-12-01 14:49:58.526014'); args=['가게명#51', '', '042-1234-9051', '', '2021-12-01 14:49:58.526014', '2021-12-01 14:49:58.526014']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#52', '', '042-1234-9052', '', '2021-12-01 14:49:58.526014', '2021-12-01 14:49:58.526014'); args=['가게명#52', '', '042-1234-9052', '', '2021-12-01 14:49:58.526014', '2021-12-01 14:49:58.526014']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#53', '', '042-1234-9053', '', '2021-12-01 14:49:58.535704', '2021-12-01 14:49:58.535704'); args=['가게명#53', '', '042-1234-9053', '', '2021-12-01 14:49:58.535704', '2021-12-01 14:49:58.535704']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#54', '', '042-1234-9054', '', '2021-12-01 14:49:58.545745', '2021-12-01 14:49:58.545745'); args=['가게명#54', '', '042-1234-9054', '', '2021-12-01 14:49:58.545745', '2021-12-01 14:49:58.545745']

(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#55', '', '042-1234-9055', '', '2021-12-01 14:49:58.545745', '2021-12-01 14:49:58.545745'); args=['가게명#55', '', '042-1234-9055', '', '2021-12-01 14:49:58.545745', '2021-12-01 14:49:58.545745']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#56', '', '042-1234-9056', '', '2021-12-01 14:49:58.555670', '2021-12-01 14:49:58.555670'); args=['가게명#56', '', '042-1234-9056', '', '2021-12-01 14:49:58.555670', '2021-12-01 14:49:58.555670']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#57', '', '042-1234-9057', '', '2021-12-01 14:49:58.565931', '2021-12-01 14:49:58.565931'); args=['가게명#57', '', '042-1234-9057', '', '2021-12-01 14:49:58.565931', '2021-12-01 14:49:58.565931']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#58', '', '042-1234-9058', '', '2021-12-01 14:49:58.575823', '2021-12-01 14:49:58.575823'); args=['가게명#58', '', '042-1234-9058', '', '2021-12-01 14:49:58.575823', '2021-12-01 14:49:58.575823']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#59', '', '042-1234-9059', '', '2021-12-01 14:49:58.575823', '2021-12-01 14:49:58.575823'); args=['가게명#59', '', '042-1234-9059', '', '2021-12-01 14:49:58.575823', '2021-12-01 14:49:58.575823']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#60', '', '042-1234-9060', '', '2021-12-01 14:49:58.585756', '2021-12-01 14:49:58.585756'); args=['가게명#60', '', '042-1234-9060', '', '2021-12-01 14:49:58.585756', '2021-12-01 14:49:58.585756']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#61', '', '042-1234-9061', '', '2021-12-01 14:49:58.595884', '2021-12-01 14:49:58.595884'); args=['가게명#61', '', '042-1234-9061', '', '2021-12-01 14:49:58.595884', '2021-12-01 14:49:58.595884']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#62', '', '042-1234-9062', '', '2021-12-01 14:49:58.605909', '2021-12-01 14:49:58.605909'); args=['가게명#62', '', '042-1234-9062', '', '2021-12-01 14:49:58.605909', '2021-12-01 14:49:58.605909']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#63', '', '042-1234-9063', '', '2021-12-01 14:49:58.615679', '2021-12-01 14:49:58.615679'); args=['가게명#63', '', '042-1234-9063', '', '2021-12-01 14:49:58.615679', '2021-12-01 14:49:58.615679']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#64', '', '042-1234-9064', '', '2021-12-01 14:49:58.625755', '2021-12-01 14:49:58.625755'); args=['가게명#64', '', '042-1234-9064', '', '2021-12-01 14:49:58.625755', '2021-12-01 14:49:58.625755']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#65', '', '042-1234-9065', '', '2021-12-01 14:49:58.625755', '2021-12-01 14:49:58.625755'); args=['가게명#65', '', '042-1234-9065', '', '2021-12-01 14:49:58.625755', '2021-12-01 14:49:58.625755']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#66', '', '042-1234-9066', '', '2021-12-01 14:49:58.635991', '2021-12-01 14:49:58.635991'); args=['가게명#66', '', '042-1234-9066', '', '2021-12-01 14:49:58.635991', '2021-12-01 14:49:58.635991']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#67', '', '042-1234-9067', '', '2021-12-01 14:49:58.646938', '2021-12-01 14:49:58.646938'); args=['가게명#67', '', '042-1234-9067', '', '2021-12-01 14:49:58.646938', '2021-12-01 14:49:58.646938']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#68', '', '042-1234-9068', '', '2021-12-01 14:49:58.655964', '2021-12-01 14:49:58.655964'); args=['가게명#68', '', '042-1234-9068', '', '2021-12-01 14:49:58.655964', '2021-12-01 14:49:58.655964']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#69', '', '042-1234-9069', '', '2021-12-01 14:49:58.665817', '2021-12-01 14:49:58.665817'); args=['가게명#69', '', '042-1234-9069', '', '2021-12-01 14:49:58.665817', '2021-12-01 14:49:58.665817']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#70', '', '042-1234-9070', '', '2021-12-01 14:49:58.665817', '2021-12-01 14:49:58.665817'); args=['가게명#70', '', '042-1234-9070', '', '2021-12-01 14:49:58.665817', '2021-12-01 14:49:58.665817']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#71', '', '042-1234-9071', '', '2021-12-01 14:49:58.675946', '2021-12-01 14:49:58.675946'); args=['가게명#71', '', '042-1234-9071', '', '2021-12-01 14:49:58.675946', '2021-12-01 14:49:58.675946']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#72', '', '042-1234-9072', '', '2021-12-01 14:49:58.685798', '2021-12-01 14:49:58.685798'); args=['가게명#72', '', '042-1234-9072', '', '2021-12-01 14:49:58.685798', '2021-12-01 14:49:58.685798']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#73', '', '042-1234-9073', '', '2021-12-01 14:49:58.695687', '2021-12-01 14:49:58.695687'); args=['가게명#73', '', '042-1234-9073', '', '2021-12-01 14:49:58.695687', '2021-12-01 14:49:58.695687']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#74', '', '042-1234-9074', '', '2021-12-01 14:49:58.695687', '2021-12-01 14:49:58.695687'); args=['가게명#74', '', '042-1234-9074', '', '2021-12-01 14:49:58.695687', '2021-12-01 14:49:58.695687']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#75', '', '042-1234-9075', '', '2021-12-01 14:49:58.710912', '2021-12-01 14:49:58.710912'); args=['가게명#75', '', '042-1234-9075', '', '2021-12-01 14:49:58.710912', '2021-12-01 14:49:58.710912']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#76', '', '042-1234-9076', '', '2021-12-01 14:49:58.715934', '2021-12-01 14:49:58.715934'); args=['가게명#76', '', '042-1234-9076', '', '2021-12-01 14:49:58.715934', '2021-12-01 14:49:58.715934']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#77', '', '042-1234-9077', '', '2021-12-01 14:49:58.726174', '2021-12-01 14:49:58.726174'); args=['가게명#77', '', '042-1234-9077', '', '2021-12-01 14:49:58.726174', '2021-12-01 14:49:58.726174']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#78', '', '042-1234-9078', '', '2021-12-01 14:49:58.726174', '2021-12-01 14:49:58.726174'); args=['가게명#78', '', '042-1234-9078', '', '2021-12-01 14:49:58.726174', '2021-12-01 14:49:58.726174']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#79', '', '042-1234-9079', '', '2021-12-01 14:49:58.735918', '2021-12-01 14:49:58.735918'); args=['가게명#79', '', '042-1234-9079', '', '2021-12-01 14:49:58.735918', '2021-12-01 14:49:58.735918']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#80', '', '042-1234-9080', '', '2021-12-01 14:49:58.745760', '2021-12-01 14:49:58.745760'); args=['가게명#80', '', '042-1234-9080', '', '2021-12-01 14:49:58.745760', '2021-12-01 14:49:58.745760']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#81', '', '042-1234-9081', '', '2021-12-01 14:49:58.755995', '2021-12-01 14:49:58.755995'); args=['가게명#81', '', '042-1234-9081', '', '2021-12-01 14:49:58.755995', '2021-12-01 14:49:58.755995']

(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#82', '', '042-1234-9082', '', '2021-12-01 14:49:58.755995', '2021-12-01 14:49:58.755995'); args=['가게명#82', '', '042-1234-9082', '', '2021-12-01 14:49:58.755995', '2021-12-01 14:49:58.755995']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#83', '', '042-1234-9083', '', '2021-12-01 14:49:58.765936', '2021-12-01 14:49:58.765936'); args=['가게명#83', '', '042-1234-9083', '', '2021-12-01 14:49:58.765936', '2021-12-01 14:49:58.765936']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#84', '', '042-1234-9084', '', '2021-12-01 14:49:58.775837', '2021-12-01 14:49:58.775837'); args=['가게명#84', '', '042-1234-9084', '', '2021-12-01 14:49:58.775837', '2021-12-01 14:49:58.775837']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#85', '', '042-1234-9085', '', '2021-12-01 14:49:58.785767', '2021-12-01 14:49:58.785767'); args=['가게명#85', '', '042-1234-9085', '', '2021-12-01 14:49:58.785767', '2021-12-01 14:49:58.785767']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#86', '', '042-1234-9086', '', '2021-12-01 14:49:58.785767', '2021-12-01 14:49:58.785767'); args=['가게명#86', '', '042-1234-9086', '', '2021-12-01 14:49:58.785767', '2021-12-01 14:49:58.785767']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#87', '', '042-1234-9087', '', '2021-12-01 14:49:58.795666', '2021-12-01 14:49:58.795666'); args=['가게명#87', '', '042-1234-9087', '', '2021-12-01 14:49:58.795666', '2021-12-01 14:49:58.795666']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#88', '', '042-1234-9088', '', '2021-12-01 14:49:58.805919', '2021-12-01 14:49:58.805919'); args=['가게명#88', '', '042-1234-9088', '', '2021-12-01 14:49:58.805919', '2021-12-01 14:49:58.805919']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#89', '', '042-1234-9089', '', '2021-12-01 14:49:58.815648', '2021-12-01 14:49:58.815648'); args=['가게명#89', '', '042-1234-9089', '', '2021-12-01 14:49:58.815648', '2021-12-01 14:49:58.815648']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#90', '', '042-1234-9090', '', '2021-12-01 14:49:58.815648', '2021-12-01 14:49:58.815648'); args=['가게명#90', '', '042-1234-9090', '', '2021-12-01 14:49:58.815648', '2021-12-01 14:49:58.815648']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#91', '', '042-1234-9091', '', '2021-12-01 14:49:58.825948', '2021-12-01 14:49:58.825948'); args=['가게명#91', '', '042-1234-9091', '', '2021-12-01 14:49:58.825948', '2021-12-01 14:49:58.825948']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#92', '', '042-1234-9092', '', '2021-12-01 14:49:58.836061', '2021-12-01 14:49:58.836061'); args=['가게명#92', '', '042-1234-9092', '', '2021-12-01 14:49:58.836061', '2021-12-01 14:49:58.836061']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#93', '', '042-1234-9093', '', '2021-12-01 14:49:58.845949', '2021-12-01 14:49:58.845949'); args=['가게명#93', '', '042-1234-9093', '', '2021-12-01 14:49:58.845949', '2021-12-01 14:49:58.845949']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#94', '', '042-1234-9094', '', '2021-12-01 14:49:58.845949', '2021-12-01 14:49:58.845949'); args=['가게명#94', '', '042-1234-9094', '', '2021-12-01 14:49:58.845949', '2021-12-01 14:49:58.845949']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#95', '', '042-1234-9095', '', '2021-12-01 14:49:58.855906', '2021-12-01 14:49:58.855906'); args=['가게명#95', '', '042-1234-9095', '', '2021-12-01 14:49:58.855906', '2021-12-01 14:49:58.855906']
(0.016) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#96', '', '042-1234-9096', '', '2021-12-01 14:49:58.865994', '2021-12-01 14:49:58.865994'); args=['가게명#96', '', '042-1234-9096', '', '2021-12-01 14:49:58.865994', '2021-12-01 14:49:58.865994']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#97', '', '042-1234-9097', '', '2021-12-01 14:49:58.875865', '2021-12-01 14:49:58.875865'); args=['가게명#97', '', '042-1234-9097', '', '2021-12-01 14:49:58.875865', '2021-12-01 14:49:58.875865']
(0.015) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#98', '', '042-1234-9098', '', '2021-12-01 14:49:58.875865', '2021-12-01 14:49:58.875865'); args=['가게명#98', '', '042-1234-9098', '', '2021-12-01 14:49:58.875865', '2021-12-01 14:49:58.875865']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#99', '', '042-1234-9099', '', '2021-12-01 14:49:58.885970', '2021-12-01 14:49:58.885970'); args=['가게명#99', '', '042-1234-9099', '', '2021-12-01 14:49:58.885970', '2021-12-01 14:49:58.885970']
(0.000) INSERT INTO "mall_shop" ("name", "description", "telephone", "photo", "created_at", "updated_at") VALUES ('가게명#100', '', '042-1234-9100', '', '2021-12-01 14:49:58.895897', '2021-12-01 14:49:58.895897'); args=['가게명#100', '', '042-1234-9100', '', '2021-12-01 14:49:58.895897', '2021-12-01 14:49:58.895897']

## Slicing

In [11]:
qs = Shop.objects.all()

In [12]:
qs[:10] # first 10 rows

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>]>

In [13]:
qs[0:10:2]

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 10; args=()

[<Shop: Shop object (104)>,
 <Shop: Shop object (102)>,
 <Shop: Shop object (100)>,
 <Shop: Shop object (98)>,
 <Shop: Shop object (96)>]

In [14]:
qs[-10:] # last 10 rows => Not supported in DB

AssertionError: Negative indexing is not supported.

In [16]:
for shop in reversed(qs.order_by("id")[:10]):
    print(shop.pk, shop.name, shop.telephone)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" ASC LIMIT 10; args=()

10 가게명#6 042-1234-9006
9 가게명#5 042-1234-9005
8 가게명#4 042-1234-9004
7 가게명#3 042-1234-9003
6 가게명#2 042-1234-9002
5 가게명#1 042-1234-9001
4 셀프24시빨래방 042-1234-4321
3 투썸플레이스 042-1234-1234
2 셀프24시빨래방 042-1234-4321
1 투썸플레이스 042-1234-1234

## Conditions

In [17]:
qs = Shop.objects.all()

In [19]:
# filter <-> exclude

qs.filter(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 1 ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

In [20]:
qs.exclude(pk=1)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE NOT ("mall_shop"."id" = 1) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(1,)

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [22]:
# lt : less than <
# lte : less than equal <=
# gt : greater than >
# gte : greater than equal >=
qs.filter(
    pk__gt=5,
    pk__lt=10, 
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" > 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [24]:
# 체이닝(chaining)
qs.filter(pk__gte=5).filter(pk__lt=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [ ]:
qs1 = Shop.objects.all()
qs1 = qs.filter(pk__get=5)
qs1 = qs.filter(pk__lt=10)

In [ ]:
qs2 = Shop.objects.all().filter(pk__gte=5).filter(pk__lt=10)

In [ ]:
# QuerySet is Lazy.

In [25]:
qs = Shop.objects.all()

In [26]:
Shop.objects.all()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC LIMIT 21; args=()

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [32]:
# qs = Shop.objects.all()
# shop_list = list(qs) # 절대 쓰지 말 것! 리스트화!

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" ORDER BY "mall_shop"."id" DESC; args=()

## Get 1 Row

In [37]:
pk = 10
not_existed_pk = 100000

In [34]:
shop = Shop.objects.get(pk=pk) # 가져올 대상이 1개임을 기대. 1개가 아니면 예외가 발생.
shop

(0.015) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [38]:
Shop.objects.get(pk=not_existed_pk) # Shop.DoesNotExist 예외가 발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 LIMIT 21; args=(100000,)

DoesNotExist: Shop matching query does not exist.

In [39]:
shop = Shop.objects.filter(pk=pk)[0]
shop

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(10,)

In [40]:
Shop.objects.filter(pk=not_existed_pk)[0] # IndexError 예외가 발생

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

IndexError: list index out of range

In [41]:
Shop.objects.filter(pk=not_existed_pk).first() # 지정 Row가 없다면 None을 반환할 뿐, 예외는 발생 X.S

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 100000 ORDER BY "mall_shop"."id" DESC LIMIT 1; args=(100000,)

## Conditions (OR)

In [42]:
qs = Shop.objects.all()
qs.filter(pk__gte=5, pk__lt=10) # AND

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 AND "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

In [44]:
from django.db.models import Q

In [45]:
Q(pk__get=5)

In [46]:
Q(pk__lt=10)

In [47]:
Q(pk__gte=5) & Q(pk__lt=10)

In [48]:
Q(pk__gte=5) | Q(pk__lt=10)

In [49]:
qs = Shop.objects.all()
qs.filter(
    Q(pk__gte=5) | Q(pk__lt=10)
)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE ("mall_shop"."id" >= 5 OR "mall_shop"."id" < 10) ORDER BY "mall_shop"."id" DESC LIMIT 21; args=(5, 10)

<QuerySet [<Shop: Shop object (104)>, <Shop: Shop object (103)>, <Shop: Shop object (102)>, <Shop: Shop object (101)>, <Shop: Shop object (100)>, <Shop: Shop object (99)>, <Shop: Shop object (98)>, <Shop: Shop object (97)>, <Shop: Shop object (96)>, <Shop: Shop object (95)>, <Shop: Shop object (94)>, <Shop: Shop object (93)>, <Shop: Shop object (92)>, <Shop: Shop object (91)>, <Shop: Shop object (90)>, <Shop: Shop object (89)>, <Shop: Shop object (88)>, <Shop: Shop object (87)>, <Shop: Shop object (86)>, <Shop: Shop object (85)>, '...(remaining elements truncated)...']>

In [52]:
conditions = Q(pk__gte=5)
# conditions = conditions | Q(pk__lt=10)
conditions |= Q(pk__lt=10)
conditions

# Update Rows

## 지정 Row

In [53]:
qs = Shop.objects.all()
shop = qs.get(pk=10)

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" = 10 LIMIT 21; args=(10,)

In [54]:
shop.name, shop.telephone

('가게명#6', '042-1234-9006')

In [55]:
shop.telephone = '042-1234-0006'

In [56]:
shop.save()

(0.016) UPDATE "mall_shop" SET "name" = '가게명#6', "description" = '', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 14:49:58.127159', "updated_at" = '2021-12-01 15:21:54.355510' WHERE "mall_shop"."id" = 10; args=('가게명#6', '', '042-1234-0006', '', '2021-12-01 14:49:58.127159', '2021-12-01 15:21:54.355510', 10)

## 지정 범위의 Rows

In [58]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
qs.update(
    description="not used description",
)

(0.000) UPDATE "mall_shop" SET "description" = 'not used description' WHERE "mall_shop"."id" <= 10; args=('not used description', 10)

10

In [59]:
qs = Shop.objects.all()
qs = qs.filter(pk__lte=10)
for shop in qs:
    shop.description = "not used description"
    shop.save()

(0.000) SELECT "mall_shop"."id", "mall_shop"."name", "mall_shop"."description", "mall_shop"."telephone", "mall_shop"."photo", "mall_shop"."created_at", "mall_shop"."updated_at" FROM "mall_shop" WHERE "mall_shop"."id" <= 10 ORDER BY "mall_shop"."id" DESC; args=(10,)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#6', "description" = 'not used description', "telephone" = '042-1234-0006', "photo" = '', "created_at" = '2021-12-01 14:49:58.127159', "updated_at" = '2021-12-01 15:24:33.367797' WHERE "mall_shop"."id" = 10; args=('가게명#6', 'not used description', '042-1234-0006', '', '2021-12-01 14:49:58.127159', '2021-12-01 15:24:33.367797', 10)
(0.015) UPDATE "mall_shop" SET "name" = '가게명#5', "description" = 'not used description', "telephone" = '042-1234-9005', "photo" = '', "created_at" = '2021-12-01 14:49:58.116103', "updated_at" = '2021-12-01 15:24:33.381449' WHERE "mall_shop"."id" = 9; args=('가게명#5', 'not used description', '042-1234-9005', '', '2021-12-01 14:49:58.116103', '2021-12-01 15:24:33.381449', 9)
(0.016) UPDATE "mall_shop" SET "name" = '가게명#4', "description" = 'not used description', "telephone" = '042-1234-9004', "photo" = '', "created_at" = '2021-12-01 14:49:58.105958', "updated_at" = '2021-12-01 15:24:33.391251' WHERE "mall_shop"."id" = 8; args=('가게명#4', 'not used description', '042-1234-9004', '', '2021-12-01 14:49:58.105958', '2021-12-01 15:24:33.391251', 8)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#3', "description" = 'not used description', "telephone" = '042-1234-9003', "photo" = '', "created_at" = '2021-12-01 14:49:58.095970', "updated_at" = '2021-12-01 15:24:33.401192' WHERE "mall_shop"."id" = 7; args=('가게명#3', 'not used description', '042-1234-9003', '', '2021-12-01 14:49:58.095970', '2021-12-01 15:24:33.401192', 7)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#2', "description" = 'not used description', "telephone" = '042-1234-9002', "photo" = '', "created_at" = '2021-12-01 14:49:58.086103', "updated_at" = '2021-12-01 15:24:33.411287' WHERE "mall_shop"."id" = 6; args=('가게명#2', 'not used description', '042-1234-9002', '', '2021-12-01 14:49:58.086103', '2021-12-01 15:24:33.411287', 6)
(0.000) UPDATE "mall_shop" SET "name" = '가게명#1', "description" = 'not used description', "telephone" = '042-1234-9001', "photo" = '', "created_at" = '2021-12-01 14:49:58.065646', "updated_at" = '2021-12-01 15:24:33.421442' WHERE "mall_shop"."id" = 5; args=('가게명#1', 'not used description', '042-1234-9001', '', '2021-12-01 14:49:58.065646', '2021-12-01 15:24:33.421442', 5)
(0.000) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '042-1234-4321', "photo" = '', "created_at" = '2021-12-01 14:47:33.988043', "updated_at" = '2021-12-01 15:24:33.431278' WHERE "mall_shop"."id" = 4; args=('셀프24시빨래방', 'not used description', '042-1234-4321', '', '2021-12-01 14:47:33.988043', '2021-12-01 15:24:33.431278', 4)
(0.016) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 14:47:30.073213', "updated_at" = '2021-12-01 15:24:33.441262' WHERE "mall_shop"."id" = 3; args=('투썸플레이스', 'not used description', '042-1234-1234', '', '2021-12-01 14:47:30.073213', '2021-12-01 15:24:33.441262', 3)
(0.000) UPDATE "mall_shop" SET "name" = '셀프24시빨래방', "description" = 'not used description', "telephone" = '042-1234-4321', "photo" = '', "created_at" = '2021-12-01 14:38:56.879225', "updated_at" = '2021-12-01 15:24:33.451303' WHERE "mall_shop"."id" = 2; args=('셀프24시빨래방', 'not used description', '042-1234-4321', '', '2021-12-01 14:38:56.879225', '2021-12-01 15:24:33.451303', 2)
(0.015) UPDATE "mall_shop" SET "name" = '투썸플레이스', "description" = 'not used description', "telephone" = '042-1234-1234', "photo" = '', "created_at" = '2021-12-01 14:36:40.183838', "updated_at" = '2021-12-01 15:24:33.451303' WHERE "mall_shop"."id" = 1; args=('투썸플레이스', 'not used description', '042-1234-1234', '', '2021-12-01 14:36:40.183838', '2021-12-01 15:24:33.451303', 1)

# Delete Rows

In [ ]:
# qs = Shop.objects.all()

In [ ]:
# qs.delete()